#################
## Maven
#################
target/

#################
## Gradle
#################
.gradle/
build/
out/



#################
## Idea
#################
.idea
*.iml

#################
## Eclipse
#################

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
#*.launch

#################
## C++ binaries
#################
*.bin

#################
## Others
#################
*.log
.*.html
